html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    /* 隐藏被旋转的元素的背面 */
    -webkit-backface-visibility: hidden;
}


input,
textarea {
    border: none;
    outline: none;
    /*不允许改变尺寸*/
    resize: none;
    /*去除ios 手机端input输入框的内阴影*/
    -webkit-appearance: none;
}

/* 设置input 文本框的 placeholder 的颜色 */
input::-webkit-input-placeholder{
    color:rgba(144,147,153,1);
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html,
body {
    width: 100%;
}

body {
    word-wrap: break-word;
    color: #333;

    /* 这里是设置字体，Helvetica字体在移动端各系统都支持（都不支持微软雅黑） */
    font: 16px/1.5 Helvetica, Arial;

    /* 轻击 轻触时样式 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    /* 设置文本不会放大，普通网页在移动端打开文本是会跟随网页结构缩放的 */
    -webkit-text-size-adjust: none; 

}

body *{
    /* 在一些手机上，如iphone，点击按钮等元素会出现点击态的背景色，设置为透明就看不出来了 */
    -webkit-tap-highlight-color: transparent;

    /* 设置元素内的文字及其子元素将不会被选中 */
    -webkit-user-select:none;

    /* 禁止IOS弹出各种操作窗口 */
    -webkit-touch-callout: none;
}

/* 解决1px问题 */
/* .half-border {
    position: relative;
    &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    border-bottom:1px solid #e6e6e6;
    color: red;
    height: 200%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none;防止点击触发
    box-sizing: border-box;
    }
} */